.App {
  text-align: center;
}

.App-header {
  background-color:black;
  color: white;
} 

body{
  background-color: #282c34;
  color: white;
}

.peliculasContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

